<!DOCTYPE html>
<html>
<head>
    <title>Items</title>
</head>
<body>
    <h1>Items</h1>
    <ul>
        <% items.forEach(item => { %>
            <li><%= item.name %>: <%= item.description %></li>
        <% }); %>
    </ul>
    <a href="/">Go back to Home</a>
</body>
</html>
